@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: "Raleway", sans-serif;
}
body{
    position: relative;
    width: 100%;
}
.container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
}
.container .herobg{
    background: url(./assets/images/backgroun1.jpg);
    /* background: url(./assets/images/herobg.jpg); */
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container .heropage{
    
    /* background-attachment: fixed; */
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    /* transition: background-color 0.3s ease, box-shadow 0.3s ease;  */
    transition: background-color .5s ease;
    z-index: 3000;
    width: 100%;
    position: relative;
    /* color: red !important; */
}

.sticky{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3000;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2500px);    
}
#placeholder {
    position: absolute;
    height: 80px;
    z-index: 0;
}

header .logo{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: fit-content;
    z-index: 1;
}
header .logo img{
    width: clamp(40px, 50%, 100px);
}
.burger{
    display: flex;
    z-index: 1;
}
.burger i{
    font-size: 20px;
    z-index: 1;
}
#menubar {
    font-size: 24px;
    transition: transform 0.3s ease; 
    color: #ffffff !important;
}

#menubar.fa-xmark {
    transform: rotate(180deg);
}

header nav ul{
    /* display: none; */
    display: flex;
    position: fixed;
    justify-content:first baseline;
    align-items: center;
    list-style: none;
    flex-direction: column;
    gap: 34px !important;
    left: 0;
    top:0;
    width: 100%;
    z-index: 0;
    padding-top: 80px;
    /* background: hsla(0,0%,100%,.7); */
    background-color: black;
    height: 100%;
    min-height: 100vh;
    transition: transform .3s ease;
    transform: translateX(-200%);
}
ul.show{
    transform: translateX(0);
}
header nav ul li{
    display: flex;
    align-items: center;
    gap: 8px;
}
header nav ul li i{
    color: #333333;
    cursor: pointer;
}
header nav ul li.active a{
    display: flex;
    color:  #007BFF !important;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
header nav ul li.active i{
    color: #007BFF !important;
}
header nav ul li a{
    text-decoration: none;
    color: #333333;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: .2px;
    text-transform: uppercase;
}
.tourmenufilter{
    position:relative;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: 3000;
    /* top: 20px; */
    /* right: 30px; */
    /* background: red; */
    width: 100%;
    display: none !important;
}
 .tourmenu{

    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    background: #fff;
    /* background: linear-gradient(180deg,white 10%, rgba(0, 123, 255,0.7) 90%) ; */
    padding: 40px;
    border-radius: 0 0 12px 12px ;
    position: relative;
    /* right: 70px !important; */
    /* top: 0 !important; */
    /* top: 37px !important; */
    list-style: none;
    /* height: 0; */
    width: 100%;
    /* width: 0; */
    

}

.tourmenu a{
    text-decoration: none;
    color: #000 !important;
}
.tourlink{
    display: flex;
    flex-direction: column;
}
.tourlink .dropdown{
    display: flex;
    align-items: center;
    gap: 8px;
}
.tourlink:hover  .tourmenufilter{
    display: flex !important;
    /* transition: all 4s ease; */
    opacity: 1; 
    transform: translateY(0);
}
/* .tourlink:hover i{
    transform: rotateX(180deg);
} */
.heropage .heropagecontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0 20px 80px 20px;
    gap: 50px;
}
.heropagecontainer .heropagetext{
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.heropagetext .description h1{
    color: #FF7A00
;
    /* font-size: 52px; */
    font-size: clamp(24px,5.5vw,52px);
    font-style: normal;
    font-weight: 800;
    /* line-height: 62px;  */
    line-height: clamp(32px,8.5vw,62px);
    font-family: 'Poppins', sans-serif;
}
.heropagetext .description h1 .blue{
    color: #007BFF;
    /* font-size: 52px; */
    font-size: clamp(24px,5.5vw,52px);
    font-style: normal;
    font-weight: 800;
    line-height: clamp(32px,8.5vw,62px);
    /* line-height: 62px; */
    font-family: 'Poppins', sans-serif;
}
.heropagetext .description p{
    color: #333333;
    /* font-size: 16px; */
    font-size: clamp(16px,2.5vw,18px);
    font-style: normal;
    font-weight: 500;
    line-height: 26px; 
    line-height: clamp(16px,4.5vw,26px);
}
.heropagetext .more{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
}
.heropagetext .more button{
    width: 200px;
    height: 56px;
    flex-shrink: 0;
    border: 1.5px solid #FFF;
    background: none;
}
.heropagetext .more button a{
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heropagetext .more  a{
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 12px;
}
.heropageslider{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}
.heropageslider .slider{
    display: none;
    align-items: center;
    justify-content: center;
}
.heropageslider .slider .heroimage{
    width: 574.76px;
    height: 560.23px; 
    position: relative;
    /* width: 100%;
    height: 100%; */
}

.heroimage .heroimage_1{
   max-width: 323.72px; 
   max-height: 396.39px;
   height: 100%; 
   width: 100%;
   left: 0px; 
   top: 0px; 
   position: absolute; 
   background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%); 
   border-radius: 52.85px; 
   border: 13.21px white solid;
   z-index: 1;
}
.heroimage .heroimage_2{
    max-width: 264.26px; 
    max-height: 264.26px; 
    right: 0;
    width: 100%;
    height: 100%; 
    top: 44.92px; 
    position: absolute; 
    background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%); 
    border-top-left-radius: 52.85px; 
    border-top-right-radius: 52.85px; 
    border-bottom-right-radius: 52.85px; 
    border-bottom-left-radius: 21.14px; 
    border: 13.21px white solid;
}
.heroimage .heroimage_3{
    max-width: 191.59px; 
    max-height: 175.73px; 
    width: 100%;
    height: 100%;
    left: 0; 
    bottom: 0; 
    position: absolute; 
    background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%); 
    border-top-left-radius: 52.85px; 
    border-top-right-radius: 21.14px; 
    border-bottom-right-radius: 52.85px; 
    border-bottom-left-radius: 52.85px; 
    border: 13.21px white solid;
}
.heroimage .heroimage_4{
    max-width: 396.39px; 
    max-height: 264.26px; 
    width: 100%;
    height: 100%;
    object-position: center;
    /* object-fit:contain; */
    right: 0; 

    bottom: 0; 
    position: absolute; 
    background: linear-gradient(0deg, #D9D9D9 0%, #D9D9D9 100%); 
    border-top-left-radius: 21.14px; 
    border-top-right-radius: 52.85px; 
    border-bottom-right-radius: 52.85px; 
    border-bottom-left-radius: 52.85px; 
    border: 13.21px white solid;
}
.heropageslider .socials{
    display: flex;
    align-items: flex-end;
    gap: 24px;
    justify-content: end;
}
.heropage .herotoursearch{
    padding: 0 40px;
    width: 100%;
}
.heropage .searchtour{
    border-radius: 14px 14px 0px 0px;
    background: #FFF;
    box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.10);
    max-width: 1006px;
    width: 100%;
    position: relative;
    top: 90px;
    margin: auto;
}
.searchtour .searchtourtabs{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 140.4px; */
    padding: 24px 20px;
    flex-shrink: 0;
    border-radius: 14px 14px 0px 0px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(24.5px);
}
.searchtourtabs .tabs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.searchtourtabs .tabs .tablist{
    display: flex;
    gap: 24px;
}
.searchtourtabs .tabs .tablist .tabrole{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    border: none;
    width: fit-content;
    cursor: pointer;
    background: none;
    
}
.searchtourtabs .tabs .tablist .tabrole p{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    /* padding: 0px 15px 0px 15px; */
    color: rgba(72, 82, 128, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    gap: 4px;
    position: relative;
    top: 2px;
}
.panel {
    display: none; 
}

.panel.active {
    display: block;

}
.searchtourtabs .tabs .tablist .tabrole.active p{
    color: #007BFF;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.searchtourtabs .tabs .tablist .tabrole svg{
    fill:#485280;
    fill-opacity: 0.6;
    position: relative;
    top: 2px;
}
.searchtourtabs .tabs .tablist .tabrole.active svg{
    fill: #007BFF;
    fill-opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.searchtourtabs .tabs .tablist .tabrole.active p::after{
    display: block;
    content: "";
    background: #007BFF;
    width: 100%;
    height: 2px;
}
.searchtourtabs .tabs  .panel form{
    /* border-radius: 8px;
    border: 9px solid rgba(0, 0, 0, 0.20);
    opacity: 0.3; */
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
    flex-direction: column;
}
.searchtour .searchcontent{
    border-radius: 8px;
    border: 0.6px solid rgba(0, 0, 0, 0.20);
    min-height: 65px;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 12px 8px;
    flex-wrap: wrap;
}

.searchcontent .searches .searchdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
}
.vertdivider{
    width: 0.699px;
    height: 100%;
    min-height: 50px;
    flex-shrink: 0;
    border: 0.699px solid rgba(0, 0, 0, 0.20);
    opacity: 0.3;
    display: none;
}
.searchdiv .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
.searchdiv .content h4{
    color: #007BFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
    opacity: 1;
    text-transform: uppercase;
}
.searchdiv .content input,select{
    color: rgba(153, 153, 153, 0.90);
    font-size: 14px;
    font-weight: 400;
    line-height: 13.972px; /* 117.647% */
    letter-spacing: -0.154px;
    padding: 4px 8px 4px 0;
    outline: none;
    /* max-width: 150px; */
    width: 100%;
    border: none;
}

.searchdiv .content select{
    min-width: 120px;
    width: 100%;
}
.searchdiv .content input::placeholder{
    font-size: 12px;
    color: rgba(153, 153, 153, 0.60);
}
.searchtour .searchbutton{
    min-height: 65px;
    max-width: 167px;
    width: 100%;
}
.searchtour .searchbutton button{
    /* border-radius: 8px; */
    height: 65px;
    
    /* height: 100% !important; */
    width: 100%;
    background: #007BFF;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: -0.231px;
    cursor: pointer;
    border: none;
}


.adventure{
    background: #fff;
    padding: 200px 20px 64px;
}
.adventure .planeicon{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
.adventure .adventurecontent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 78px;
    flex-direction: column;
}
.adventurecontent .adventureimg{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
}
.adventurecontent .adventureimg img{
    width: 100%;
    height: 100%;
    max-width: 502px;
    max-height: 460px;
    position: relative;
}

.adventurecontent .adventuretextwrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.adventuretextwrapper .adventuretext{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.adventuretextwrapper .welctext{
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.adventuretextwrapper .welctext h4{
    color:  #007BFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px; 
    font-family: 'Poppins', sans-serif;
}
.adventuretextwrapper .adventuretext .welctext h2{
    color:  rgba(0, 0, 0, 0.80);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px; 
    font-family: 'Poppins', sans-serif;
}
.adventuretextwrapper button{
    display: flex;
    height: 46px;
    /* padding: 15px 27.48px 15px 28px; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    border: none;
}
.adventuretextwrapper button a{
    text-decoration: none;
    background:#007BFF;
    padding: 15px 27.48px 15px 28px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}

.managment{
    background: rgba(217, 217, 217, 0.20);
    width: 100%;
    padding: 54px 20px;
}
.managementgrid{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
}
/* .managementgrid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
} */
.managementgridbox{
    background: #FFF;
    box-shadow: 0px 21.271px 42.543px 0px rgba(0, 0, 0, 0.10);
    max-width: 302px;
    max-height: 258px;
    width: 100%;
    height: 258px !important;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.managementgridbox h4{
    color: #485280;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px;
    font-family: 'Poppins', sans-serif;
}
.managementgridbox p{
    color: #646464;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.places{
    width: 100%;
}
.placescontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: #fff;
    padding: 70px 20px;
    gap: 120px;
}
.placescontainer .placesheadtext{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: column;
}
.placescontainer .placesheadtext h4{
    color: #007BFF;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
}
.placescontainer .placesheadtext h2{
    color: rgba(0, 0, 0, 0.80);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    font-family: 'Poppins', sans-serif;
}
.placesgrid{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
    flex-wrap: wrap;
    padding: 0;
}
.placesgridbox{
    width: 100%;
    max-width: 342px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 28px;
    position: relative;
    /* box-shadow: 0px 17px 38px rgba(0, 0, 0, 0.04); */
    /* justify-content: flex-start; */
    align-items: center;
}
.placesgridbox .viewtour{
    display: flex;
    width: 135.66px;
    height: 41px;
    padding: 12px 32px 12px 32px;
    justify-content: center;
    align-items: center;
    border: 2px solid #007BFF;
    background:  rgba(255, 255, 255, 0.00);
    box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.20);
}
.placesgridbox .viewtour  a{
    text-align: center; 
    text-decoration: none;
    color: #007BFF; font-size: 15px;
    font-weight: 500;
    line-height: 27px; 
    white-space: nowrap;
}
.placesgridbox .card{
    min-height: 585px;
    box-shadow: 0px 17px 38px rgba(0, 0, 0, 0.04);
    background: #fff;
}
.placesgridbox .card .cardbody{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* overflow: hidden; */
}
.cardbody .tag{
    width: 100%;
    max-width: 154px; 
    height: 44px;
    /* height: 100%; */
    left: 10px; top: -10px; 
    position: absolute; 
    background: #007BFF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
/* Other styles remain unchanged */

.tag {
    width: 153.37px;
    height: 44px;
    left: 10px;
    top: -10px;
    position: absolute;
    background: #007BFF;
    display: flex;
    align-items: center;
}

.before,
.after {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
}

.before {
    border-width: 10.06px 10.06px 0 0;
    border-color:  transparent #C7390D transparent transparent;
    left: -10px;
    top: 0;
}


.after {
    border-width: 10.06px 0 0 10.06px;
    border-color: transparent transparent transparent #C7390D;
    right: -10px;
    top: 0;
}
.cardbody .tag h4{
    color: white; 
    font-size: 20.11px; 
    font-weight: 500; 
    line-height: 32.69px;
    font-family: 'Poppins', sans-serif;
}

.placesgridbox .card .cardbody .cardtext{
    /* width: 256px; 
    height: 92px;  */
    padding: 25px 34px 42px; 
}
.placesgridbox .card .cardbody .cardtext p{
    /* width: 256px; 
    height: 92px;  */
    color: #646464; 
    font-size: 16px; 
    font-weight: 400; 
    line-height: 26px; 
}
.placesgridbox .card .cardbody .cardimg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.placesgridbox .card .cardbody .cardimg img{
    width: 100%;
}
.cardimg .imgname{
    position: absolute; 
    text-align: center; 
    color: white; 
    font-size: 36px; 
    font-weight: 600; 
    text-transform: capitalize; 
    line-height: 24px; 
    /* z-index: 300; */
    top: 130px;
}
/* .cardbody .cardtext */

.service {
    width: 100%;
}
.service .servicecontainer{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
}
.servicecontainer .serviceheadtext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
}
.serviceheadtext h4{
    color: #007BFF;
    text-align: center;
    /* font-size: 28px; */
    font-size: clamp(20px,2.5vw,28px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
}
.serviceheadtext h2{
    color: rgba(0, 0, 0, 0.80);
    text-align: center;
    font-size: 28px;
    font-size: clamp(18px,2.5vw,28px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 688px;
    font-family: 'Poppins', sans-serif;
}
.serviceheadtext p{
    color: #646464;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    display: flex;
    max-width: 612.52px;
    justify-content: center;
}
.servicecontainer .packages{
    width: 100%;
}
.servicecontainer .packages .videopopup{
    width: 100%;
}
.packages .videopopup img{
    object-fit: cover;
    width: 100%;
}
.servicegridcontent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.packagegrid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 32px;
    column-gap: 16px;
    padding: 70px 20px 70px;
    max-height: 100%;
    height: 100%;

}
.packagegridbox{
    display: flex;
    max-width: 362px;
    min-height: 234px;
    height: 100%;
    width: 100%;
    padding: 18px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 0px 29.006px;
    background: #FFF;
    box-shadow: 0px 27.193px 54.386px 0px rgba(0, 0, 0, 0.10);
}
.packagegridbox h4{
    color: #485280;
    text-align: center;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: normal;
}
.packagegridbox p{
    color: #646464;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.testimonial{
    width: 100%;
}
.testimonialcontainer{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    background: #007BFF;
    /* padding-left: 140.8px; */
    justify-content: flex-end;
    gap: 151.067px;
    min-height: 500px;
    height: 100%;
    flex-direction: column;
}
.travelerreview{
    width: 100%;
    max-width:525px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 45px 28px 80px 28px ;
    /* background: url(/assets/images/testimonial.jpg); */
    background-repeat: no-repeat;
    gap: 140px;
    background: linear-gradient(0deg, rgba(65, 68, 105, 0.50) 0%, rgba(65, 68, 105, 0.50) 100%), url(./assets/images/testimonial.jpg), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    /* background-size: contain; */
    box-shadow: 32px 4.267px 85.333px 0 #3939BC;
    overflow: hidden;
    /* width: 683.733px; */
/* height: 669.867px; */
}
.reviewtext{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
.reviewtext h5{
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 146.2%;
    font-family: 'Poppins', sans-serif;
}
.reviewtext h2{
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
}
.reviewtext h2 span{
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: #485280;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
}
.reviewtext p{
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.reviewbtn button{
    /* border-radius: 16px; */
    background: #007BFF;
    width: 241px;
    height: 63px;
    flex-shrink: 0;
    border: none;
    color: #FFF;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 146.2%; 
}
.testimonies{
    width: 90%;
}
.testimony{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 36px;
    flex-direction: column;
}

.testimonywrapper{
    background: #FFF;
    display: flex;
    height: 128px;
    /* padding-left: 12.8px; */
    align-items: flex-start;
    width: fit-content;
    max-width: 426px;
    overflow: hidden;
}
.testimonialcontainer .testimonycontent{
    display: flex;
    padding: 12.8px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}
.testimonycontent .feeds{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}
.testimonycontent .text{
    align-self: stretch;
}
.testimonycontent .text p{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.testimonycontent .tourist{
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}
.testimonycontent .tourist h5{
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    padding-right: 6.4px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-right: 1.5px solid #000;
    font-family: 'Poppins', sans-serif;
}

.testimonycontent .tourist p{
    color: #505050;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}
.destination{
    width: 100%;
}
.destinationcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: #fff;
    padding: 20px;
    gap: 120px;
}
.destinationcontainer .destinationheadtext{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: column;
}
.destinationcontainer .destinationheadtext h4{
    color: #007BFF;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.destinationcontainer .destinationheadtext h2{
    color: rgba(0, 0, 0, 0.80);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}
.destinationgrid{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
    flex-wrap: wrap;
    padding: 0;
}
.destinationgridbox{
    width: 100%;
    max-width: 342px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 28px;
    position: relative;
    /* box-shadow: 0px 17px 38px rgba(0, 0, 0, 0.04); */
    /* justify-content: flex-start; */
    align-items: center;
}
.destinationgridbox .viewtour{
    display: flex;
    width: 135.66px;
    height: 41px;
    padding: 12px 32px 12px 32px;
    justify-content: center;
    align-items: center;
    border: 2px solid #007BFF;
    background:  rgba(255, 255, 255, 0.00);
    box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.20);
}
.destinationgridbox .viewtour  a{
    text-align: center; 
    text-decoration: none;
    color: #007BFF; font-size: 15px;
    font-weight: 500;
    line-height: 27px; 
    white-space: nowrap;
}
.destinationgridbox .card{
    min-height: 585px;
    /* box-shadow: 0px 17px 38px rgba(0, 0, 0, 0.04); */
    /* background: #fff; */
}
.destinationgridbox .card .cardbody{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* overflow: hidden; */
}
.cardbody .tag{
    width: 100%;
    max-width: 154px; 
    height: 44px;
    /* height: 100%; */
    left: 10px; top: -10px; 
    position: absolute; 
    background: #007BFF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
/* Other styles remain unchanged */

.tag {
    width: 153.37px;
    height: 44px;
    left: 10px;
    top: -10px;
    position: absolute;
    background: #007BFF;
    display: flex;
    align-items: center;
}

.before,
.after {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
}

.before {
    border-width: 10.06px 10.06px 0 0;
    border-color:  transparent #C7390D transparent transparent;
    left: -10px;
    top: 0;
}


.after {
    border-width: 10.06px 0 0 10.06px;
    border-color: transparent transparent transparent #C7390D;
    right: -10px;
    top: 0;
}
.cardbody .tag h4{
    color: white; 
    font-size: 20.11px; 
    font-weight: 500; 
    line-height: 32.69px;
}
.cardbody .tour{
    padding: 0 18px;
}
.cardbody .tour .tourcontent{
    border-radius: 0px 0px 32px 32px;
    background:  #FFF;
    box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.11);
    position: relative;
    bottom: 40px;
    max-width: 314px;
    min-height: 380px;
    height: 100%;
    flex-shrink: 0;
    padding: 52px 23px 24px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.tourcontent .tourtext{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tourtext .tourheading{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.tourtext .tourheading h4.title{
    color:  #485280;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
}
.tourtext .tourheading .tourlocation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.tourtext .tourheading .tourlocation p{
    color: #999 !important;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 28.8px; 
}
.tourcontent .tourpurpose ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}
.tourcontent .tourpurpose ul li p , span{
    color: #B3B3B3;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
}
.destinationgridbox .card .cardbody .tourtext p{
    /* width: 256px; 
    height: 92px;  */
    color: #646464;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.destinationgridbox .card .cardbody .cardimg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.destinationgridbox .card .cardbody .cardimg img{
    width: 100%;
}
.cardimg .imgname{
    position: absolute; 
    text-align: center; 
    color: white; 
    font-size: 36px; 
    font-weight: 600; 
    text-transform: capitalize; 
    line-height: 24px; 
    /* z-index: 300; */
    top: 130px;
}

.quote{
    width: 100%;
    height: 100%;
    margin-top: 170px;
}
.quote .quotecontent{
    background: url(./assets/images/quotebg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 54px 20px 70px;
    height: 100%;
    min-height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.quote .quotecontent .quotetext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quotecontent .quotetext h4{
    color:  #FFF;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.quotecontent .quotetext p{
    max-width: 737px;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.quotecontent button{
    display: flex;
    max-width: 200.125px;
    max-height: 66.674px;
    width: 100%;
    padding: 19.542px 28.288px 20.692px 28.739px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    /* border-radius: 4.598px; */
    border: 1.15px solid #007BFF;
    background: #007BFF;
    box-shadow: 0px 27.589px 41.384px -12.645px rgba(0, 0, 0, 0.09);
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}


.getintouch{
    width: 100%;
    padding: 55px 20px 200px;
}
.getintouch .getintouchcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 84px;
    flex-direction: column;
}
.getintouchcontainer .getintouchtextwrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
}
.getintouchcontainer .getintouchtextwrapper h5{
    color: #007BFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.getintouchtextwrapper .getintouchtext h2{
    color: rgba(0, 0, 0, 0.80);
    font-size: 37px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2px;
    font-family: 'Poppins', sans-serif;
}
.getintouchtextwrapper .getintouchtext{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.getintouchtextwrapper .getintouchtext p{
    color: #646464;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.getintouchtextwrapper button{
    background: var(--Blue, #007BFF);
    display: flex;
    min-width: 143.38px;
    width: fit-content;
    min-height: 46px;
    padding: 15px 29.671px 15px 30px;
    justify-content: center;
    align-items: center;
    border: none;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
}
.getintouchform {
    width: 100%;
}
.getintouchform form{
    max-width: 640px;
    width: 100% !important;
    /* width: min-content !important; */
    background: #FFF;
    box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.10);
    /* width: 100%; */
    padding: 50px 40px 40px ;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.getintouchform form .formtext{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
.getintouchform form .formtext h6{
    color: #007BFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px; /* 150% */
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.getintouchform form .formtext h4{
    color: rgba(0, 0, 0, 0.80);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 43.2px; /* 120% */
    font-family: 'Poppins', sans-serif;
}
.getintouchform form .formcontent{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* max-width: 673px; */
}
.formcontent .inputblock{
    padding: 5px 0 10px 0;
    display: flex;
    gap: 14px;
    width: 100%;
    flex-direction: column;
}
.formcontent .inputblock .inputs{
    display: flex;
    flex-direction: column;
    gap:6px;
    width: 100%;
}
.formcontent .inputblock .inputs input{
    width: 100%;
    height: 50px;
    padding: 17px 13px 16px 13px;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid #F7F7F7;
    background: #F7F7F7;
    outline: 0;
}
.formcontent .inputblock .inputs textarea{
    width: 100%;
    max-height: 150px;
    padding: 17px 13px 16px 13px;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid #F7F7F7;
    background: #F7F7F7;
    outline: 0;
}
.getintouchbtn{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.getintouchform form button{
    display: flex;
    width: 100%;
    max-width: 332.05px;
    padding: 14px 100px;
    justify-content: center;
    align-items: center;
    gap: 4.3px;
    background:  #007BFF;
    box-shadow: 0px 5px 5px 0px rgba(66, 133, 244, 0.30);
    border: none;
    cursor: pointer;
}
.getintouchform form button p{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; 
    white-space: nowrap;
}


section{
    width: 100%;
}
footer{
    width: 100% !important;
}
.footercontainer{
    background: url(./assets/images/Footerbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* padding: 0 64px 80px 10px; */
    padding-block: 3px 10px;
    padding-inline: 80px;
    min-height: 440px;
    width: 100% !important;
    gap: 35px;
}
.footercontainer .wrapper{
    width: 100% !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    /* flex-wrap: wrap; */
    gap: 0px;
}
.footercontainer .wrapper>*{
    width: 100% ;
    padding-top: 64px;
}
.footercontainer .footercontent{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footercontent .text p{
    color: #E0E0E0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.footercontent .sos{
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
}
.footercontainer .footermenu{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-left: none;
    padding:32px 0 30px 16px;
}
.footermenu h4{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; 
}
.footermenu ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center !important;

}
.footermenu ul li {
    display: flex;
    align-items: center;
    gap: 4px;
}
.footermenu ul li a{
    color: #E0E0E0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px;
    text-decoration: none;
}
.footermenu h5{
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 19.2px; 
}
.foottext p{
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-size: 10.667px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px; /* 180% */
}




@media (max-width:600px){
    .searchcontent .searches{
        width: 100%;
    }
   
}
@media (min-width:600px){
    header .logo img{
        max-width: 100px;
        width: clamp(60px, 20%, 100px);
    }
    .testimony .testimonywrapper:nth-child(1){
        position: relative; 
        left: 13px;
    }
    .testimony .testimonywrapper:nth-child(2){
        position: relative; 
        left: 45px;
    }
    .managment{
       
        padding: 54px  80px;
    }
    .placescontainer{
        padding: 70px 70px;
    }
    .packagegrid{
        padding: 70px 70px 70px;
    }
    .destinationcontainer{
        padding: 70px;
    }
   
}
@media (min-width: 768px){
    header{
       
        padding-inline: 80px;
        
    }
    header .logo img{
        max-width: 100px;
        width: clamp(80px, 20%, 100px);
    }
    .heropage .heropagecontainer{

        padding:0 80px 80px 80px;

    }
    .burger{
        display: none;
    }
    header nav ul{
        display: flex;
        justify-content: center !important;
        align-items: center;
        list-style: none;
        gap: 34px !important;
        flex-direction: row;
        position: relative;
        top: unset;
        background: none;
        padding-top: 0;
        width: 100%;
        /* background: hsla(0,0%,100%,.7); */
        height: 100%;
        min-height: fit-content;
        transition: transform 3s ease;
        transform: translateX(0);
    }
    .tourmenufilter{
        position:absolute;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 0.4s ease, transform 0.4s ease;
        z-index: 3000;
        top: 20px;
        right: 30px;
        /* background: red; */
        width: 100%;
        display: none !important;
    }
     .tourmenu{
    
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
    
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
        background: #fff;
        /* background: linear-gradient(180deg,white 10%, rgba(0, 123, 255,0.7) 90%) ; */
        padding: 40px;
        border-radius: 0 0 12px 12px ;
        position: relative;
        /* right: 70px !important; */
        /* top: 0 !important; */
        top: 37px !important;
        list-style: none;
        /* height: 0; */
        width: 80%;
        /* width: 0; */
        
    
    }
    
    .tourmenu a{
        text-decoration: none;
        color: #000 !important;
    }
    .tourlink{
        display: flex;
        flex-direction: column;
    }
    .tourlink .dropdown{
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .tourlink:hover  .tourmenufilter{
        display: flex !important;
        /* transition: all 4s ease; */
        opacity: 1; 
        transform: translateY(0);
    }
  
    .heropage .heropagecontainer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding:0 80px 80px 80px;
        gap: 50px;
    }
    .heropageslider .slider{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .heropage .herotoursearch{
        padding: 0 0;
    }
    .searchtourtabs .tabs  .panel form{
        /* border-radius: 8px;
        border: 9px solid rgba(0, 0, 0, 0.20);
        opacity: 0.3; */
        display: flex;
        justify-content: space-between;
        gap: 24px;
        align-items: center;
        flex-direction: row;
    }
    .searchcontent .searches{
        width:max-content;
    }
    .searchtour .searchcontent{
        border-radius: 8px;
        border: 0.6px solid rgba(0, 0, 0, 0.20);
        min-height: 65px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
        padding: 12px 8px;
        flex-wrap: nowrap;
    }
    .vertdivider{
        width: 0.699px;
        height: 100%;
        min-height: 50px;
        flex-shrink: 0;
        border: 0.699px solid rgba(0, 0, 0, 0.20);
        opacity: 0.3;
        display: flex;
    }
    .searchdiv .content input,select{
        color: rgba(153, 153, 153, 0.90);
        font-size: 14px;
        font-weight: 400;
        line-height: 13.972px; /* 117.647% */
        letter-spacing: -0.154px;
        padding: 4px 8px 4px 0;
        outline: none;
        max-width: 150px;
        border: none;
    }
    
    .searchdiv .content select{
        min-width: 120px;
    }
    .adventure{
        background: #fff;
        padding: 200px 80px 64px;
    }
    .adventure .adventurecontent{
        flex-direction: row;
    }

    .servicegridcontent{
        display: flex;
        justify-content: center;
        
    }
    .packagegrid{
        position: relative;
        /* bottom: 240px; */
        padding: 70px 70px 0;
        bottom: 180px;
    }


    .testimonialcontainer{
        flex-direction: row;
    }
    .travelerreview{
        padding: 45px 28px 80px 80px ;
        
    }
    .testimonies{
        width: 60%;
    }


    .quote .quotecontent{
        padding: 54px 20px 70px;
    }
    
    .getintouch{
        width: 100%;
        padding: 55px 80px 200px;
    }
    .getintouch .getintouchcontainer{
        flex-direction: row;
        
    }
    .formcontent .inputblock{
        flex-direction: row;
    }


    .footercontainer{
        gap: 70px;
    }
    .footercontainer .wrapper{
        align-items: first baseline;
        flex-direction: row;
        text-align: left;
        gap: 100px;
    }
   
    .footercontainer .footermenu{
        border-left: .7px solid #DEE2E6;
        text-align: left;
        padding:64px 0 30px 16px;
    }
    .footermenu ul{
        justify-content: left;
        align-items: first baseline;
        text-align: left !important;
    }
}
@media (min-width: 834px){
    .servicegridcontent{
        
    }
    
}
@media (min-width: 1024px){
    .servicegridcontent{
        /* max-height: 500px; */
    }
}
@media (min-width: 1600px){
    .servicegridcontent{
     
    }
    .getintouchform form{
        width: 640px;
        width: 100% !important;
      
    }
}


@media (max-width: 768px) {

    .managementgrid{
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}






.livechat{
    position: fixed;
    right: 5px;
    bottom: 60px;
}
.livechat button{
    display: flex;
    max-width: 150.44px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    gap: 4px;
    padding: 0px 15px 0px 15px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 25px;
    background:  #4DC247;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.40);
    border: none;
    cursor: pointer;
    transition: display .4s ease-out;
}
.livechat button p{
    color: #fff;
    /* width: 0; */
    /* visibility: hidden; */
    white-space: nowrap;
    transition: width .4s ease-out;
}
/* .livechat button:hover p{
    width: 100%;
    visibility: visible;
} */
