@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Poppins', sans-serif;
}
body{
    position: relative;
}
.container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}
.container .herobg{
    background: url(/assets/images/herobg.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container .heropage{
    
    /* background-attachment: fixed; */
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 80px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    z-index: 1000;
    width: 100%;
}
header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff; 
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* header.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}
header.sticky .logo img{
    width: 100%;
    height: 100%;
    max-width: 70px !important;
    max-height: 100px !important;
}

header.sticky:before {
    opacity: 1;
} */
header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .logo img{
    max-width: 100px;
    max-height: 140.78px;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 34px;
}
header nav ul li{
    display: flex;
}
header nav ul li.active a{
    display: flex;
    color:  #007BFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
header nav ul li a{
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: .2px;
    text-transform: uppercase;
}
.heropage .heropagecontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:0 80px 80px 80px;
    gap: 50px;
}
.heropagecontainer .heropagetext{
    display: flex;
    flex-direction: column;
    gap: 36px;
    align-items: flex-start;
    justify-content: space-between;
}
.heropagetext .description h1{
    color: #FFF;
    font-size: 52px;
    font-style: normal;
    font-weight: 800;
    line-height: 62px; 
}
.heropagetext .description h1 .blue{
    color: #007BFF;
    font-size: 52px;
    font-style: normal;
    font-weight: 800;
    line-height: 62px;
}
.heropagetext .description p{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.heropagetext .more{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
}
.heropagetext .more button{
    width: 200px;
    height: 56px;
    flex-shrink: 0;
    border: 1.5px solid #FFF;
    background: none;
}
.heropagetext .more button a{
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heropagetext .more  a{
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 12px;
}
.heropageslider{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.heropageslider .slider{
    display: flex;
    align-items: center;
    justify-content: center;
}
.heropageslider .socials{
    display: flex;
    align-items: flex-end;
    gap: 24px;
    justify-content: end;
}
.heropage .searchtour{
    border-radius: 14px 14px 0px 0px;
    background: #FFF;
    box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.10);
    max-width: 1006px;
    width: 100%;
    position: relative;
    top: 90px;
}
.searchtour .searchtourtabs{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 140.4px; */
    padding: 24px 20px;
    flex-shrink: 0;
    border-radius: 14px 14px 0px 0px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(24.5px);
}
.searchtourtabs .tabs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.searchtourtabs .tabs .tablist{
    display: flex;
    gap: 24px;
}
.searchtourtabs .tabs .tablist .tabrole{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: fit-content;
    cursor: pointer;
    background: none;
    /* padding: 0px 15px 0px 15px; */
    color: rgba(72, 82, 128, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    gap: 4px;
}
.panel {
    /* Add any styles you need for each panel */
    display: none; /* Hide all panels by default */
}

.panel.active {
    /* Show the active panel */
    display: block;
}
.searchtourtabs .tabs .tablist .tabrole.active{
    color: #007BFF;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.searchtourtabs .tabs .tablist .tabrole.active::after{
    display: block;
    content: "";
    background: #007BFF;
    width: 100%;
    height: 2px;
}
.searchtourtabs .tabs  .panel form{
    /* border-radius: 8px;
    border: 9px solid rgba(0, 0, 0, 0.20);
    opacity: 0.3; */
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
}
.searchtour .searchcontent{
    border-radius: 8px;
    border: 0.6px solid rgba(0, 0, 0, 0.20);
    min-height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    padding: 12px 8px;
}
.searchcontent .searches .searchdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.vertdivider{
    width: 0.699px;
    height: 100%;
    min-height: 50px;
    flex-shrink: 0;
    border: 0.699px solid rgba(0, 0, 0, 0.20);
    opacity: 0.3;
}
.searchdiv .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.searchdiv .content h4{
    color: #007BFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 12px;
    opacity: 1;
}
.searchdiv .content input,select{
    color: rgba(153, 153, 153, 0.90);
    font-size: 14px;
    font-weight: 400;
    line-height: 13.972px; /* 117.647% */
    letter-spacing: -0.154px;
    padding: 4px 8px;
    outline: none;
    max-width: 150px;
    border: none;
}

.searchdiv .content input::placeholder{
    font-size: 12px;
    color: rgba(153, 153, 153, 0.60);
}
.searchtour .searchbutton{
    min-height: 65px;
    max-width: 167px;
    width: 100%;
}
.searchtour .searchbutton button{
    border-radius: 8px;
    height: 65px;
    /* height: 100% !important; */
    width: 100%;
    background: #007BFF;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: -0.231px;
    cursor: pointer;
    border: none;
}


.adventure{
    background: #fff;
    padding: 200px 80px 64px;
}
.adventure .planeicon{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
.adventure .adventurecontent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.adventurecontent .adventureimg{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: flex-start;
}
.adventurecontent .adventureimg img{
    width: 502px;
    height: 460px;
    position: relative;
}

.adventurecontent .adventuretextwrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.adventuretextwrapper .adventuretext{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.adventuretextwrapper .welctext{
    display: flex;
    gap: 16px;
    flex-direction: column;
}
.adventuretextwrapper .welctext h4{
    color:  #007BFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 54px; /* 180% */
}
.adventuretextwrapper .adventuretext .welctext h2{
    color:  rgba(0, 0, 0, 0.80);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px; /* 125% */
}
.adventuretextwrapper button{
    display: flex;
    height: 46px;
    /* padding: 15px 27.48px 15px 28px; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: fit-content;
    border: none;
}
.adventuretextwrapper button a{
    text-decoration: none;
    background:#007BFF;
    padding: 15px 27.48px 15px 28px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}

.managment{
    background: rgba(217, 217, 217, 0.20);
    width: 100%;
    padding: 54px  80px;
}
.managementgrid{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
}
/* .managementgrid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
} */
.managementgridbox{
    background: #FFF;
    box-shadow: 0px 21.271px 42.543px 0px rgba(0, 0, 0, 0.10);
    max-width: 302px;
    max-height: 258px;
    width: 100%;
    height: 258px !important;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
.managementgridbox h4{
    color: #485280;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 31px; /* 147.619% */
}
.managementgridbox p{
    color: #646464;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}


.placescontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: #fff;
    padding: 70px;
    gap: 120px;
}
.placescontainer .placesheadtext{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: column;
}
.placescontainer .placesheadtext h4{
    color: #007BFF;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.placescontainer .placesheadtext h2{
    color: rgba(0, 0, 0, 0.80);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}
.placesgrid{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
    flex-wrap: wrap;
    padding: 0;
}
.placesgridbox{
    width: 100%;
    max-width: 342px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 28px;
    position: relative;
    /* box-shadow: 0px 17px 38px rgba(0, 0, 0, 0.04); */
    /* justify-content: flex-start; */
    align-items: center;
}
.placesgridbox .viewtour{
    display: flex;
    width: 135.66px;
    height: 41px;
    padding: 12px 32px 12px 32px;
    justify-content: center;
    align-items: center;
    border: 2px solid #007BFF;
    background:  rgba(255, 255, 255, 0.00);
    box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.20);
}
.placesgridbox .viewtour  a{
    text-align: center; 
    text-decoration: none;
    color: #007BFF; font-size: 15px;
    font-weight: 500;
    line-height: 27px; 
    white-space: nowrap;
}
.placesgridbox .card{
    min-height: 585px;
    box-shadow: 0px 17px 38px rgba(0, 0, 0, 0.04);
    background: #fff;
}
.placesgridbox .card .cardbody{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* overflow: hidden; */
}
.cardbody .tag{
    width: 100%;
    max-width: 154px; 
    height: 44px;
    /* height: 100%; */
    left: 10px; top: -10px; 
    position: absolute; 
    background: #007BFF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
/* Other styles remain unchanged */

.tag {
    width: 153.37px;
    height: 44px;
    left: 10px;
    top: -10px;
    position: absolute;
    background: #007BFF;
    display: flex;
    align-items: center;
}

.before,
.after {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
}

.before {
    border-width: 10.06px 10.06px 0 0;
    border-color:  transparent #C7390D transparent transparent;
    left: -10px;
    top: 0;
}


.after {
    border-width: 10.06px 0 0 10.06px;
    border-color: transparent transparent transparent #C7390D;
    right: -10px;
    top: 0;
}
.cardbody .tag h4{
    color: white; 
    font-size: 20.11px; 
    font-weight: 500; 
    line-height: 32.69px;
}

.placesgridbox .card .cardbody .cardtext{
    /* width: 256px; 
    height: 92px;  */
    padding: 25px 34px 42px; 
}
.placesgridbox .card .cardbody .cardtext p{
    /* width: 256px; 
    height: 92px;  */
    color: #646464; 
    font-size: 16px; 
    font-weight: 400; 
    line-height: 26px; 
}
.placesgridbox .card .cardbody .cardimg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.cardimg .imgname{
    position: absolute; 
    text-align: center; 
    color: white; 
    font-size: 36px; 
    font-weight: 600; 
    text-transform: capitalize; 
    line-height: 24px; 
    /* z-index: 300; */
    top: 130px;
}
/* .cardbody .cardtext */

.service {
    width: 100%;
}
.service .servicecontainer{
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.servicecontainer .serviceheadtext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.serviceheadtext h4{
    color: #007BFF;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.serviceheadtext h2{
    color: rgba(0, 0, 0, 0.80);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 688px;
}
.serviceheadtext p{
    color: #646464;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    display: flex;
    max-width: 612.52px;
    justify-content: center;
}
.servicecontainer .packages{
    width: 100%;
}
.servicecontainer .packages .videopopup{
    width: 100%;
}
.packages .videopopup img{
    object-fit: cover;
    width: 100%;
}

.packagegrid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 32px;
    column-gap: 16px;
    padding: 70px 70px 0;
    max-height: 500px;
}
.packagegridbox{
    position: relative;
    bottom: 240px;
    display: flex;
    max-width: 362px;
    min-height: 234px;
    height: 100%;
    width: 100%;
    padding: 18px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 0px 29.006px;
    background: #FFF;
    box-shadow: 0px 27.193px 54.386px 0px rgba(0, 0, 0, 0.10);
}
.packagegridbox h4{
    color: #485280;
    text-align: center;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.packagegridbox p{
    color: #646464;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.testimonial{
    width: 100%;
}
.testimonialcontainer{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    background: #007BFF;
    /* padding-left: 140.8px; */
    justify-content: flex-end;
    gap: 151.067px;
    min-height: 500px;
    height: 100%;
}
.travelerreview{
    width: 45%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 45px 28px 80px 80px ;
    /* background: url(/assets/images/testimonial.jpg); */
    background-repeat: no-repeat;
    gap: 180px;
    background: linear-gradient(0deg, rgba(65, 68, 105, 0.50) 0%, rgba(65, 68, 105, 0.50) 100%), url(/assets/images/testimonial.jpg), lightgray 50% / cover no-repeat;
    box-shadow: 32px 4.267px 85.333px 0 #3939BC;
    overflow: hidden;
    /* width: 683.733px; */
/* height: 669.867px; */
}
.reviewtext{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
.reviewtext h5{
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 146.2%;
}
.reviewtext h2{
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.reviewtext h2 span{
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: #485280;
    white-space: nowrap;
}
.reviewtext p{
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.reviewbtn button{
    border-radius: 16px;
    background: #007BFF;
    width: 241px;
    height: 63px;
    flex-shrink: 0;
    border: none;
    color: #FFF;
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 146.2%; 
}
.testimonies{
    width: 60%;
}
.testimony{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 36px;
    flex-direction: column;
}
.testimonywrapper{
    background: #FFF;
    display: flex;
    height: 128px;
    /* padding-left: 12.8px; */
    align-items: flex-start;
    width: fit-content;
    max-width: 426px;
    overflow: hidden;
}
.testimonialcontainer .testimonycontent{
    display: flex;
    padding: 12.8px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}
.testimonycontent .feeds{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}
.testimonycontent .text{
    align-self: stretch;
}
.testimonycontent .text p{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.testimonycontent .tourist{
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}
.testimonycontent .tourist h5{
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    padding-right: 6.4px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-right: 1.5px solid #000;
}

.testimonycontent .tourist p{
    color: #505050;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}
.destinationcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: #fff;
    padding: 70px;
    gap: 120px;
}
.destinationcontainer .destinationheadtext{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-direction: column;
}
.destinationcontainer .destinationheadtext h4{
    color: #007BFF;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.destinationcontainer .destinationheadtext h2{
    color: rgba(0, 0, 0, 0.80);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}
.destinationgrid{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
    flex-wrap: wrap;
    padding: 0;
}
.destinationgridbox{
    width: 100%;
    max-width: 342px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 28px;
    position: relative;
    /* box-shadow: 0px 17px 38px rgba(0, 0, 0, 0.04); */
    /* justify-content: flex-start; */
    align-items: center;
}
.destinationgridbox .viewtour{
    display: flex;
    width: 135.66px;
    height: 41px;
    padding: 12px 32px 12px 32px;
    justify-content: center;
    align-items: center;
    border: 2px solid #007BFF;
    background:  rgba(255, 255, 255, 0.00);
    box-shadow: 0px 0px 3px -1px rgba(0, 0, 0, 0.20);
}
.destinationgridbox .viewtour  a{
    text-align: center; 
    text-decoration: none;
    color: #007BFF; font-size: 15px;
    font-weight: 500;
    line-height: 27px; 
    white-space: nowrap;
}
.destinationgridbox .card{
    min-height: 585px;
    /* box-shadow: 0px 17px 38px rgba(0, 0, 0, 0.04); */
    /* background: #fff; */
}
.destinationgridbox .card .cardbody{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* overflow: hidden; */
}
.cardbody .tag{
    width: 100%;
    max-width: 154px; 
    height: 44px;
    /* height: 100%; */
    left: 10px; top: -10px; 
    position: absolute; 
    background: #007BFF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
/* Other styles remain unchanged */

.tag {
    width: 153.37px;
    height: 44px;
    left: 10px;
    top: -10px;
    position: absolute;
    background: #007BFF;
    display: flex;
    align-items: center;
}

.before,
.after {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
}

.before {
    border-width: 10.06px 10.06px 0 0;
    border-color:  transparent #C7390D transparent transparent;
    left: -10px;
    top: 0;
}


.after {
    border-width: 10.06px 0 0 10.06px;
    border-color: transparent transparent transparent #C7390D;
    right: -10px;
    top: 0;
}
.cardbody .tag h4{
    color: white; 
    font-size: 20.11px; 
    font-weight: 500; 
    line-height: 32.69px;
}
.cardbody .tour{
    padding: 0 18px;
}
.cardbody .tour .tourcontent{
    border-radius: 0px 0px 32px 32px;
    background:  #FFF;
    box-shadow: 0px 10px 23px -8px rgba(0, 0, 0, 0.11);
    position: relative;
    bottom: 40px;
    max-width: 314px;
    min-height: 380px;
    height: 100%;
    flex-shrink: 0;
    padding: 52px 23px 24px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.tourcontent .tourtext{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tourtext .tourheading{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.tourtext .tourheading h4.title{
    color:  #485280;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.tourtext .tourheading .tourlocation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.tourtext .tourheading .tourlocation p{
    color: #999 !important;
    font-size: 16px !important;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 28.8px; 
}
.tourcontent .tourpurpose ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
}
.tourcontent .tourpurpose ul li p , span{
    color: #B3B3B3;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
}
.destinationgridbox .card .cardbody .tourtext p{
    /* width: 256px; 
    height: 92px;  */
    color: #646464;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.destinationgridbox .card .cardbody .cardimg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.cardimg .imgname{
    position: absolute; 
    text-align: center; 
    color: white; 
    font-size: 36px; 
    font-weight: 600; 
    text-transform: capitalize; 
    line-height: 24px; 
    /* z-index: 300; */
    top: 130px;
}

.quote{
    width: 100%;
    height: 100%;
}
.quote .quotecontent{
    background: url(/assets/images/quotebg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 54px 0 70px;
    height: 100%;
    min-height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* gap: 40px; */
}
.quote .quotecontent .quotetext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quotecontent .quotetext h4{
    color:  #FFF;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.quotecontent .quotetext p{
    max-width: 737px;
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.quotecontent button{
    display: flex;
    max-width: 200.125px;
    max-height: 66.674px;
    width: 100%;
    padding: 19.542px 28.288px 20.692px 28.739px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4.598px;
    border: 1.15px solid #007BFF;
    background: #007BFF;
    box-shadow: 0px 27.589px 41.384px -12.645px rgba(0, 0, 0, 0.09);
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}


.getintouch{
    width: 100%;
    padding: 55px 80px 200px;
}
.getintouch .getintouchcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 84px;
}
.getintouchcontainer .getintouchtextwrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
}
.getintouchcontainer .getintouchtextwrapper h5{
    color: #007BFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.getintouchtextwrapper .getintouchtext h2{
    color: rgba(0, 0, 0, 0.80);
    font-size: 37px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -2px;
}
.getintouchtextwrapper .getintouchtext{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.getintouchtextwrapper .getintouchtext p{
    color: #646464;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}
.getintouchtextwrapper button{
    background: var(--Blue, #007BFF);
    display: flex;
    min-width: 143.38px;
    width: fit-content;
    min-height: 46px;
    padding: 15px 29.671px 15px 30px;
    justify-content: center;
    align-items: center;
    border: none;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
}
.getintouchform {
    width: 100%;
}
.getintouchform form{
    width: 640px;
    /* width: min-content !important; */
    background: #FFF;
    box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.10);
    /* width: 100%; */
    padding: 50px 40px 40px ;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.getintouchform form .formtext{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
.getintouchform form .formtext h6{
    color: #007BFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px; /* 150% */
    letter-spacing: 2px;
    text-transform: uppercase;
}
.getintouchform form .formtext h4{
    color: rgba(0, 0, 0, 0.80);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 43.2px; /* 120% */
}
.getintouchform form .formcontent{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* max-width: 673px; */
}
.formcontent .inputblock{
    padding: 5px 0 10px 0;
    display: flex;
    gap: 14px;
    width: 100%;
}
.formcontent .inputblock .inputs{
    display: flex;
    flex-direction: column;
    gap:6px;
    width: 100%;
}
.formcontent .inputblock .inputs input{
    width: 100%;
    height: 50px;
    padding: 17px 13px 16px 13px;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid #F7F7F7;
    background: #F7F7F7;
    outline: 0;
}
.formcontent .inputblock .inputs textarea{
    width: 100%;
    max-height: 150px;
    padding: 17px 13px 16px 13px;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid #F7F7F7;
    background: #F7F7F7;
    outline: 0;
}
.getintouchbtn{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.getintouchform form button{
    display: flex;
    width: 100%;
    max-width: 332.05px;
    padding: 14px 100px;
    justify-content: center;
    align-items: center;
    gap: 4.3px;
    background:  #007BFF;
    box-shadow: 0px 5px 5px 0px rgba(66, 133, 244, 0.30);
    border: none;
    cursor: pointer;
}
.getintouchform form button p{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; 
    white-space: nowrap;
}



footer{
    width: 100%;
}
.footercontainer{
    background: url(/assets/images/Footerbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 80px;
    min-height: 440px;
    gap: 100px;
}
.footercontainer .wrapper{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    /* align-items: center; */

    gap: 100px;
}
.footercontainer .wrapper>*{
    width: 100%;
}
.footercontainer .footercontent{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.footercontent .text p{
    color: #E0E0E0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}
.footercontent .sos{
    display: flex;
    align-items: center;
    gap: 16px;
}
.footercontainer .footermenu{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.footermenu h4{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; 
}
.footermenu ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}
.footermenu ul li {
    display: flex;
    align-items: center;
    gap: 4px;
}
.footermenu ul li a{
    color: #E0E0E0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px;
    text-decoration: none;
}
.footermenu h5{
    color: #FFF;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 19.2px; 
}
.foottext p{
    color: rgba(255, 255, 255, 0.80);
    text-align: center;
    font-size: 10.667px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px; /* 180% */
}







@media (max-width: 768px) {
    .managementgrid{
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}






.livechat{
    position: fixed;
    right: 5px;
    bottom: 60px;
}
.livechat button{
    display: flex;
    max-width: 150.44px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    gap: 4px;
    padding: 0px 15px 0px 15px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 25px;
    background:  #4DC247;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.40);
    border: none;
    cursor: pointer;
    transition: display .4s ease-out;
}
.livechat button p{
    color: #fff;
    /* width: 0; */
    /* visibility: hidden; */
    white-space: nowrap;
    transition: width .4s ease-out;
}
/* .livechat button:hover p{
    width: 100%;
    visibility: visible;
} */