.container .toursbg{
    background: url(/assets/images/kenya_tour.jpg);
    width: 100%;
    background-size: cover;
    /* background-position: center; */
    background-repeat: no-repeat;
    min-height: 453px;
    position: relative;
}